@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
    font-size: 14px;
    background-color: var(--layout-bg);
}

button, input {
    border: none;
    outline: none;
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    z-index: 10;
}

.overlay.--show {
    opacity: 1;
    visibility: visible;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 20px;
    color: var(--text-primary);
    background-color: var(--alpha-bg);
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 0.1s linear;
    font-size: 12px;
}

.button.--purple {
    background-color: var(--purple-primary);
    color: var(--white);
}

.button:hover {
    opacity: 0.8;
}

.icon-btn {
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 100%;
    margin: 0 5px;
    cursor: pointer;

}

.icon-btn:hover {
    background-color: var(--alpha-bg);
}

.scrollbar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, 0.3);
}

.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.bg-blur {
    width: 100%;
    position: absolute;
    height: 260px;
    z-index: 0;
}

.bg-alpha {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 37%, var(--layout-bg));
    width: 100%;
    position: absolute;
    height: 260px;
    z-index: 0;
}

.bg-alpha1 {
    width: 100%;
    opacity: .8;
    position: absolute;
    height: 260px;
    z-index: 0;
    background-image: linear-gradient(180deg, var(--layout-bg), var(--layout-bg));
}